.header {
  max-width: 140rem;
  margin: auto;
  background-color: #f1f3f5;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #0b7285;
}

.header div {
  max-width: 20rem;
  max-height: 24rem;
}

.header img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.header h2 {
  align-self: center;
  justify-self: center;
  color: #0b7285;
  font-size: 2.4rem;
  padding-right: 3rem;
}

@media (max-width: 75em) {
  .header h2 {
    font-size: 2rem;
  }
}

@media (max-width: 64em) {
  .header h2 {
    font-size: 1.8rem;
    padding: 0 3rem;
    text-align: center;
  }
}

@media (max-width: 53.2em) {
  .header div {
    max-width: 10rem;
    max-height: 12rem;
  }
}

@media (max-width: 53.2em) {
  .header h2 {
    font-size: 1.4rem;
  }
}
