.login a,
.login a:hover,
.login a:active,
.login a:visited {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 4rem;
  background-color: #0b7285;
  border-radius: 12px;
  border: 4px solid black;
  transition: all 1s;
}

.login a:hover {
  background-color: black;
  border: 4px solid #0b7285;
  color: #0b7285;
}
