.account,
.account:hover {
  color: #0b7285;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 1rem 2rem;
  font-weight: 600;
}

.account:hover {
  background-color: black;
}

.account a,
.account a:active,
.account a:hover {
  /* font-size: 1.6rem; */
  color: #0b7285;
  text-decoration: none;
}
