.header {
  max-width: 140rem;
  background-color: #f1f3f5;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  border-bottom: 3px solid #0b7285;
}

.logo {
  max-width: 20rem;
  max-height: 24rem;
}

.logo img {
  width: 100%;
  height: 100%;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 1rem;
}

.menuicon {
  display: none;
}

@media (max-width: 68.75em) {
}

@media (max-width: 53.2em) {
  .logo {
    max-width: 10rem;
    max-height: 12rem;
  }

  .header ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 6.6rem;
    gap: 0.5rem;
    background-color: #f1f3f5;
    z-index: 20;
    padding: 0;
    padding-bottom: 2rem;
  }

  .menu {
    opacity: 0;
    pointer-events: none;
  }

  .menuicon {
    display: block;
    align-self: center;
  }
}
