.form {
  position: relative;
  position: fixed;
  top: 6vh;
  left: 0;
  right: 0;
  width: 30%;
  z-index: 100;
  overflow-y: scroll;
  background-color: #fff;
  margin: auto;
  padding: 2rem;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.form label {
  font-size: 2rem;
  margin-bottom: 4px;
}

.form input {
  max-width: 20rem;
  height: 4rem;
  font-size: 2rem;
  border: 3px solid #0b7285;
  border-radius: 8px;
}

.action {
  display: flex;
  justify-content: center;
}

.form button {
  font-size: 2rem;
  padding: 1rem 4rem;
  margin-top: 4rem;
  background-color: #0b7285;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.close {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: #868e96;
}

.close:hover {
  background-color: #343a40;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.invalid input {
  border: 2px solid #b40e0e;
  background-color: #fddddd;
}

.invalid label {
  color: #b40e0e;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

@media (max-width: 81.3em) {
  .form {
    width: 40%;
  }
}

@media (max-width: 57.5em) {
  .form {
    width: 50%;
  }
}

@media (max-width: 43.75em) {
  .form {
    width: 70%;
  }
}

@media (max-width: 43.75em) {
  .form {
    width: 90%;
    height: 90%;
  }
}
