.verify {
  position: relative;
  position: fixed;
  top: 6vh;
  left: 0;
  right: 0;
  bottom: 6vh;
  width: 50%;
  overflow-y: scroll;
  z-index: 100;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212529;
}

.data {
  padding: 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #ced4da;
  border: 2px solid #0b7285;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.385);
}

.data h1 {
  font-size: 1.6rem;
  text-align: center;
}

.data h2 {
  font-size: 1.6rem;
  text-align: center;
  color: #0b7285;
  display: flex;
  justify-content: space-between;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 4rem;
}

.group label {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.group input {
  max-width: 30rem;
  border: 3px solid #0b7285;
  border-radius: 8px;
  height: 4rem;
  font-size: 1.8rem;
}

.action {
  display: flex;
  justify-content: center;
}

.action button {
  background-color: #0b7285;
  font-size: 3rem;
  padding: 1rem 8rem;
  border: 3px solid #fff;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.close {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: #868e96;
}

.close:hover {
  background-color: #343a40;
}

.invalid input {
  border: 2px solid #b40e0e;
  background-color: #fddddd;
}

.invalid label {
  color: #b40e0e;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
  font-size: 2rem;
}

@media (max-width: 75em) {
  .verify {
    width: 60%;
  }
}

@media (max-width: 65.4em) {
  .verify {
    width: 80%;
  }
}

@media (max-width: 37.5em) {
  .verify {
    width: 100%;
  }
}

@media (max-width: 30em) {
  .data h1 {
    font-size: 1.2rem;
  }

  .data h2 {
    font-size: 1.2rem;
  }

  .group label {
    font-size: 1.4rem;
  }
}

@media (max-width: 30em) {
  .data h1 {
    font-size: 1rem;
  }

  .data h2 {
    font-size: 1rem;
  }
}
